{% extends 'base.html.twig' %}
{% block title %}
	PHP Silex skeleton
{% endblock %}
{% block meta %}
	<meta charset="utf-8">
	<meta name="author" value="c0de">
	<meta name="robots" value="noindex,nofollow">
{% endblock %}
{% block css %}
	<link rel="shortcut icon" href="">
	<link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="" media="all">
{% endblock %}
{% block frontendjs %}
{% endblock %}
{% block body %}
	<h1>Silex Skeleton</h1>
{% endblock %}
{% block backendjs %}
{% endblock %}